.sidenav-toggle {
  min-width: 60px;
  min-height: 60px;
  background-color: #e3f2fd;
}
.navbar-toggler-icon {
  width: 50px !important;
  height: 50px !important;
  background-color: #e3f2fd;
  border: none;
}
img {
  width: 60px;
  border: none;
  margin-top: 0px;
  margin-bottom: 0px;
  height: auto;
}
.logo {
  width: 50%;
  max-height: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 15%;
}
.logo:hover {
  transform: scale(1.2);
}
nav a {
  font-weight: 700;
  font-style: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  margin: 15px;
  text-decoration: none;
}

.menu {
  font-weight: 500;

  font-size: 30px;
  padding-top: 5px;
  text-decoration: none;
}
.Link:hover {
  transform: scale(1.5);
  transition: 0.4s;
}

.navbar-toggler-icon:hover {
  transition: 0.2s;
  box-shadow: 0 0 0 4px #eeeeee;
  transform: scale(1.4);
}
.offcanvas-start {
  background-color: #e3f2fd;
}

.footer {
  height: 30px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(228, 237, 248);
  color: white;
  text-align: center;
}
.navbar {
  background-color: #e3f2fd;
  padding: 5px;
}

.btn-close {
  position: absolute;
  right: 32px;
  top: 32px;
}
.btn-close:hover {
  transform: scale(1.2);
}
.searchButton {
  width: 20px;
  background-color: #008cba;
  color: #ffffff;
}
.avatar {
  height: 50px;
  width: 50px;
  padding: 0%;
  margin: 5px;
  background: #000;
  border-radius: 100%;
}
